table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
  }
  
  th, td {
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
.result {
    max-width: 50%;
    margin: 0px auto;
}
.header_table {
  color:white;
  background-color: red;
}
.giai2_mb {
  display: inline-block!important; 
  float: left!important;
  max-width: 520px;
  width: 50%;
}
.giai3_mb {
  display: inline-block!important; 
  float: left!important;
  max-width: 520px;
  width: 33%;
}
.giai7_mb {
  display: inline-block!important; 
  float: left!important;
  max-width: 520px;
  width: 25%;
}